@model IEnumerable<FinPortal.Models.Budget>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <h2 style="margin-bottom:2rem; margin-top:-1rem">Household Budgets</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table dataTable" id="allAcc">
                        <thead>
                            <tr>
                                <th>
                                    Budget
                                </th>
                                <th>
                                    Items
                                </th>
                                <th>
                                    Owner
                                </th>
                                <th>
                                    Current Amount
                                </th>
                                <th>
                                    Target Amount
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var account in Model)
                            {
                                <tr>
                                    <td>
                                        @account.BudgetName
                                    </td>
                                    <td>
                                        @account.Items.Count()
                                    </td>
                                    <td>
                                        @account.Owner.FullName
                                    </td>
                                    <td>
                                        $@account.CurrentAmount
                                    </td>
                                    <td>
                                        $@account.TargetAmount
                                    </td>
                                    <td>
                                        @account.Created.ToString("MM/dd/yyyy")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <h2 style="margin-bottom:2rem; margin-top:-1rem">My Budgets</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table dataTable" id="myAcc">
                        <thead>
                            <tr>
                                <th>
                                    Budget
                                </th>
                                <th>
                                    Items
                                </th>
                                <th>
                                    Current Amount
                                </th>
                                <th>
                                    Target Amount
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var account in Model.Where(g => g.OwnerId == User.Identity.GetUserId()))
                            {
                                <tr class="hover" onclick="document.location.href='@Url.Action("Details","Budgets", new { account.Id})'">
                                    <td>
                                        @account.BudgetName
                                    </td>
                                    <td>
                                        @account.Items.Count()
                                    </td>
                                    <td>
                                        $@account.CurrentAmount
                                    </td>
                                    <td>
                                        $@account.TargetAmount
                                    </td>
                                    <td>
                                        @account.Created.ToString("MM/dd/yyyy")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        jQuery(document).ready(function () {
            setTimeout(function () { jQuery('#myA').click() }, 300);
        });
        jQuery(document).ready(function () {
            jQuery('#allAcc').DataTable({
                "pageLength": 10,
                "order": [[5, "desc"]]
            });
        });
        jQuery(document).ready(function () {
            jQuery('#myAcc').DataTable({
                "pageLength": 10,
                "order": [[4, "desc"]]
            });
        });
    </script>
}
