@model FinPortal.ViewModels.HomeVM
@using Microsoft.AspNet.Identity
@using FinPortal.Extensions
@using FinPortal.Helpers
@{
    ViewBag.Title = "Home Page";
    var roleHelper = new RoleHelper();
    var userHelper = new UserHelper();
    var user = userHelper.CurrentUser();
    var budgetHelper = new BudgetHelper();
    var accountHelper = new BankAccountHelper();

}
<style>

</style>
@if (User.IsInRole("New User"))
{
    <div class="container">
        <div class="row" style="margin-top:8rem">
            <div class="col text-center">
                <h1>You don't own or belong to a Household, <br /><a href="@Url.Action("Create","Households")" style="color:cornflowerblue">Create</a> or <a href="#" style="color:cornflowerblue" id="search-other">Join</a> one to get started.</h1>
            </div>
        </div>
    </div>
}
else
{
    decimal x = 0;

    foreach (var account in user.Household.Accounts)
    {
        x = x + account.CurrentBalance;
    }
    decimal average = 0;
    if (user.Household.Accounts.Count() > 0)
    {
        average = x / user.Household.Accounts.Count();
    }




    foreach (var hUser in user.Household.Members)
    {
        var name = hUser.FirstName + hUser.LastName;
        <div class="modal fade ct" id="@name" style="padding-top:7rem">
            <div class="modal-dialog modal-md">
                <div class="modal-content" style="background-color: rgba(245, 245, 245, 0.98); color:black">
                    <div class="modal-header text-center" style=" ">
                        <h2 class="modal-title">User</h2>
                    </div>
                    <div class="modal-body" style=" padding:30px">
                        <div class="row">
                            <div class="col text-center">
                                <img src="@hUser.AvatarPath" class="img-circle spacePad" width="150" />
                                <h2 class="spacePad"> @hUser.FullName (@roleHelper.ListUserRoles(hUser.Id).FirstOrDefault()) </h2>
                                <h3 class="spacePad">@hUser.Accounts.Where(g => !g.IsDeleted).Count() Accounts</h3>
                                <h3 class="spacePad">@hUser.Budgets.Where(g=>!g.IsDeleted).Count() Budgets</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="modal fade ct" id="transmodal" style="padding-top:7rem">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="background-color: rgba(245, 245, 245, 0.98); color:black">
                <div class="modal-header text-center" style=" ">
                    <h2 class="modal-title">New Transaction</h2>
                </div>
                <div class="modal-body" style=" padding:30px">
                    @using (Html.BeginForm("Create", "Transactions", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row bPad">
                            <div class="col-md bPad">
                                <h5 class="bPad">Bank Account</h5>
                                <h5>@Html.DropDownList("AccountId", null, "Select an Account", htmlAttributes: new { @class = "form-control" })</h5>
                            </div>
                        </div>
                        <div class="row bPad">
                            <div class="col-md bPad">
                                <h5 class="bPad">Budget Item</h5>
                                <h5>@Html.DropDownList("BudgetItemId", null, "Select a Budget Item", htmlAttributes: new { @class = "form-control" })</h5>
                            </div>
                        </div>
                        <div class="row v">
                            <div class="col-md-6 bPad">
                                <h5 class="bPad">Type</h5>
                                <h5>@Html.EnumDropDownListFor(model => model.Transaction.TransactionType, null, htmlAttributes: new { @class = "form-control" })</h5>
                            </div>
                            <div class="col-md-6 bPad">
                                <h5 class="bPad">Amount</h5>
                                <h5>@Html.EditorFor(model => model.Transaction.Amount, new { htmlAttributes = new { type = "number", placeholder = "$0.00", @class = "form-control bPad" } })</h5>
                            </div>
                        </div>
                        <div class="row bPad">
                            <div class="col-md-12 bPad">
                                <h5 class="bPad">Memo (optional)</h5>
                                <h5>@Html.TextAreaFor(model => model.Transaction.Memo, new { cols = 10, rows = 4, @class = "form-control bPad" })</h5>
                            </div>
                        </div>
                        <div class="row bPad">
                            <div class="col-md-2">
                                <button type="submit" class="btn cb">Create Transaction</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade ct" id="jmodal" style="padding-top:7rem">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="background-color: rgba(245, 245, 245, 0.98); color:black">
                <div class="modal-header text-center">
                    <h2 class="modal-title">Send Invitation</h2>
                </div>
                <div class="modal-body" style=" padding:30px">
                    @using (Html.BeginForm("Create", "Invitations", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12 bPad">
                                <h4 class="bPad">Email</h4>
                                <h5>@Html.Editor("email", new { htmlAttributes = new { @class = "form-control bPad" } })</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 bPad">
                                <h4 class="bPad">Message (optional)</h4>
                                <h5>@Html.TextArea("message", new { rows = 5, cols = 5, placeholder = "A link to join will be added", @class = "form-control bPad" })</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" class="btn cb">Send Invitation</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ct" id="chartmodal" style="padding-top:7rem">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: rgba(245, 245, 245, 0.98); color:black">
                <div class="modal-header text-center" style=" ">
                    <h2 class="modal-title">Top Three Accounts</h2>
                </div>
                <div class="modal-body">
                    <div id="topAccounts" style="overflow:visible"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ct" id="accmodal" style="padding-top:7rem">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="background-color: rgba(245, 245, 245, 0.98); color:black">
                <div class="modal-header text-center" style=" ">
                    <h2 class="modal-title">Create Bank Account</h2>
                </div>
                <div class="modal-body" style=" padding:30px">
                    @using (Html.BeginForm("Create", "BankAccounts", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12 bPad">
                                <h5 class="bPad">Account Name</h5>
                                <h5>@Html.EditorFor(model => model.bankAccount.AccountName, new { htmlAttributes = new { @class = "form-control bPad" } })</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 bPad">
                                <h5 class="bPad">Starting Balance</h5>
                                <h5>@Html.EditorFor(model => model.bankAccount.CurrentBalance, new { htmlAttributes = new { type = "number", placeholder = "$0.00", @class = "form-control bPad" } })</h5>
                                <h5 id="overdrawn" style="font-weight:bold;"></h5>
                            </div>
                            <div class="col-md-6 bPad">
                                <h5 class="bPad">Warning Balance</h5>
                                <h5>@Html.EditorFor(model => model.bankAccount.WarningBalance, new { htmlAttributes = new { type = "number", placeholder = "$0.00", @class = "form-control bPad" } })</h5>
                                <h5 id="warning" style="font-weight:bold"></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 bPad">
                                <h5 class="bPad">Account Type</h5>
                                @Html.EnumDropDownListFor(model => model.bankAccount.AccountType, htmlAttributes: new { @class = "form-control bPad" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn cb">Create Account</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ct" id="budmodal" style="padding-top:7rem">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="background-color: rgba(245, 245, 245, 0.98); color:black">
                <div class="modal-header text-center" style=" ">
                    <h2 class="modal-title">Create Budget</h2>
                </div>
                <div class="modal-body" style=" padding:30px">
                    @using (Html.BeginForm("Create", "Budgets", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12 bPad">
                                <h5 class="bPad">Budget Name</h5>
                                <h5>@Html.TextBox("BudgetName", null, htmlAttributes: new { @class = "form-control bPad" })</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 bPad">
                                <h5 class="bPad">Starting Balance</h5>
                                <h5>@Html.TextBox("CurrentAmount", null, htmlAttributes: new { @type = "number", @placeholder = "$0.00", @class = "form-control bPad" })</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn cb">Create Budget</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ct" id="newItem" style="padding-top:7rem">
        <div class="modal-dialog modal-md">
            <div class="modal-content" style="background-color: rgba(245, 245, 245, 0.98); color:black">
                <div class="modal-header text-center" style=" ">
                    <h2 class="modal-title">Create Budget Item</h2>
                </div>
                <div class="modal-body" style=" padding:30px">
                    @using (Html.BeginForm("Create", "BudgetItems", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row spacePad">
                            <div class="col-md-12 bPad">
                                <h5 class="bPad">Budget</h5>
                                @Html.DropDownList("BudgetId", null, "Select a Budget", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row spacePad">
                            <div class="col-md-12 bPad">
                                <h5 class="bPad">Item Name</h5>
                                <h5>@Html.TextBox("ItemName", null, htmlAttributes: new { @class = "form-control bPad" })</h5>
                            </div>
                        </div>
                        <div class="row spacePad">
                            <div class="col-md-6 bPad">
                                <h5 class="bPad">Target Amount</h5>
                                <h5>@Html.TextBox("TargetAmount", null, htmlAttributes: new { @type = "number", @placeholder = "$0.00", @class = "form-control bPad" })</h5>
                            </div>
                            <div class="col-md-6 bPad">
                                <h5 class="bPad">Starting Amount</h5>
                                <h5>@Html.TextBox("CurrentAmount", null, htmlAttributes: new { @type = "number", @placeholder = "$0.00", @class = "form-control bPad" })</h5>
                            </div>
                        </div>
                        <div class="row spacePad">
                            <div class="col">
                                <button type="submit" class="btn cb">Create Budget Item</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4 style="margin-top:-2rem"><a href="@Url.Action("LeaveAsync","Households")">Leave Household</a></h4>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h1 style="padding-right:10rem">@user.Household.HouseholdName</h1>
            </div>
            <div class="col">
                @if (User.IsInRole("Head") || User.IsInRole("Admin"))
                {
                    <div style="font-size:24px"><a href="@Url.Action("Edit", "Households", new { user.Household.Id })">Edit Your Household</a></div>
                }
                <div style="font-size:20px">@user.Household.Greeting</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="card" id="hh" data-toggle="modal" data-target="#jmodal">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-users"></i>
                        </div>
                        <div class="stat-content" id="members">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">@user.Household.Members.Count()</span></div>
                                <div class="stat-heading">Members</div>
                            </div>
                        </div>
                        <div class="stat-content" id="cMembers">
                            <div class="text-left dib">
                                <div class="stat-text">Invite<br />Someone</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" id="ab" data-target="#chartmodal" data-toggle="modal" style="cursor:pointer">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="pe-7s-cash"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">$<span class="count">@average</span></div>
                                <div class="stat-heading"> Average Balance</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" id="ac" data-toggle="modal" data-target="#accmodal">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="pe-7s-browser "></i>
                        </div>
                        <div class="stat-content" id="account">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">@user.Household.Accounts.Count()</span></div>
                                <div class="stat-heading"> Accounts</div>
                            </div>
                        </div>
                        <div class="stat-content" id="cAccount">
                            <div class="text-left dib">
                                <div class="stat-text">Create New Account</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" id="bd" data-toggle="modal" data-target="#budmodal">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="pe-7s-cart"></i>
                        </div>
                        <div class="stat-content" id="budget">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">@user.Household.Budgets.Count()</span></div>
                                <div class="stat-heading"> Budgets</div>
                            </div>
                        </div>
                        <div class="stat-content" id="cBudget">
                            <div class="text-left dib">
                                <div class="stat-text">Create New Budget</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-6">
            <div class="panel-group white ptr" id="accordion" data-target="#panel1" data-toggle="collapse">
                <div class="panel-group panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col">
                                All Members
                            </div>
                            <div class="col text-right">
                                <i class="fa fa-arrow-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="panel-collapse collapse" id="panel1">
                        <div class="panel-body">
                            <div class="row spacePad">
                                <div class="col">
                                    <table class="dataTable table" id="membersTable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Members
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var member in user.Household.Members)
                                            {
                                                var name = member.FirstName + member.LastName;
                                                <tr data-target="#@name" data-toggle="modal" class="hover">
                                                    <td>
                                                        @member.FullName
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="panel-group white" id="trans" style="border-radius: 0.25rem; border-bottom:3px solid #98e86b" data-target="#transmodal" data-toggle="modal">
                <div class="panel-group panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-10">
                                New Transaction
                            </div>
                            <div class="col-2 text-right">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="panel-group white ptr" id="budgi" data-target="#newItem" data-toggle="modal" style="border-radius: 0.25rem; border-bottom: 3px solid #98e86b">
                <div class="panel-group panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-10">
                                New Budget Item
                            </div>
                            <div class="col text-right">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="panel-group white ptr" id="accordion" data-target="#panel3" data-toggle="collapse">
                <div class="panel-group panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col">
                                All Accounts
                            </div>
                            <div class="col text-right">
                                <i class="fa fa-arrow-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="panel-collapse collapse" id="panel3">
                        <div class="panel-body">
                            <div class="row spacePad">
                                <div class="col">
                                    <table class="dataTable table" id="budgetTable" style="font-size:13px">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Account
                                                </th>
                                                <th>
                                                    Owner
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var account in user.Household.Accounts)
                                            {
                                                <tr>
                                                    <td>
                                                        @account.AccountName
                                                    </td>
                                                    <td>
                                                        @account.Owner.FullName
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row morePad">
        <div class="col-6">
            <div class="panel-group white" id="accordion" style="border-bottom:3px solid cornflowerblue; cursor:pointer" data-target="#panel4" data-toggle="collapse">
                <div class="panel-group panel-primary">
                    <div class="panel-heading" id="myA">
                        <div class="row">
                            <div class="col">
                                <h4>My Accounts</h4>
                            </div>
                            <div class="col text-right">
                                <h4><i class="fa fa-arrow-down"></i></h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-collapse collapse" id="panel4">
                        <div class="panel-body toprPad">
                            @if (accountHelper.GetMyAccounts().Count() == 0)
                            {
                                <div class="row morePad">
                                    <div class="col text-center">
                                        <h4>You don't have any Bank Accounts. To make one:</h4>
                                        <h4> <button data-toggle="modal" data-target="#accmodal" class="btn cb" style="margin-top:1rem">Click Here</button></h4>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <table class="dataTable table" id="mybudgetTable" style="font-size:13px">
                                    <thead>
                                        <tr>
                                            <th>
                                                Account
                                            </th>
                                            <th>
                                                Current Balance
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var account in accountHelper.GetMyAccounts())
                                        {
                                            <tr class="hover" onclick="window.location.href='@Url.Action("Details","BankAccounts",new { account.Id})'">
                                                <td>
                                                    @account.AccountName
                                                </td>
                                                <td>
                                                    @account.CurrentBalance
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="panel-group white" id="accordion" style="border-bottom:3px solid cornflowerblue; cursor:pointer" data-target="#panel5" data-toggle="collapse">
                <div class="panel-group panel-primary">
                    <div class="panel-heading" id="myB">
                        <div class="row">
                            <div class="col">
                                <h4>My Budgets</h4>
                            </div>
                            <div class="col text-right">
                                <h4><i class="fa fa-arrow-down"></i></h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-collapse collapse" id="panel5">
                        <div class="panel-body toprPad">
                            @if (budgetHelper.GetMyBudgets().Count() == 0)
                            {
                                <div class="row morePad">
                                    <div class="col text-center">
                                        <h4>You don't have any Budgets. To make one:</h4>
                                        <h4> <button data-toggle="modal" data-target="#budmodal" class="btn cb" style="margin-top:1rem">Click Here</button></h4>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <table class="dataTable table" id="myaccountTable" style="font-size:13px">
                                    <thead>
                                        <tr>
                                            <th>
                                                Budget
                                            </th>
                                            <th>
                                                Current
                                            </th>
                                            <th>
                                                Target
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var budget in budgetHelper.GetMyBudgets())
                                        {
                                            <tr class="hover" onclick="window.location.href='@Url.Action("Details","Budgets",new { budget.Id})'">
                                                <td>
                                                    @budget.BudgetName
                                                </td>
                                                <td>
                                                    @budget.CurrentAmount
                                                </td>
                                                <td>
                                                    @budget.TargetAmount
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="panel-group white" id="accordion" style="border-bottom:2px solid cornflowerblue">
                <div class="panel-group panel-primary">
                    <div class="panel-heading" id="myT" data-target="#panel9" data-toggle="collapse">
                        <div class="row">
                            <div class="col">
                                <h4>Transactions</h4>
                            </div>
                            <div class="col text-right">
                                <h4><i class="fa fa-arrow-down"></i></h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-collapse collapse" id="panel9">
                        <div class="panel-body toprPad">
                            @if (user.Transactions.Count() == 0)
                            {
                                <div class="row morePad">
                                    <div class="col text-center">
                                        <h4>You don't have any Transactions.</h4>
                                        <h4 class="spacePad"> Submit Transactions to update your Accounts/Budgets.</h4>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <table class="table dataTable" id="myTransactionsTable">
                                    <thead>
                                        <tr>
                                            <th>
                                                Type
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th>
                                                Account
                                            </th>
                                            <th>
                                                Budget Item
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var transaction in user.Transactions)
                                        {
                                            <tr class="hover" onclick="window.location.href='@Url.Action("Details","Transactions",new { transaction.Id})'">
                                                <td>
                                                    @transaction.TransactionType
                                                </td>
                                                @if (transaction.TransactionType.ToString() == "Deposit")
                                                {
                                                    <td style="font-weight:bold; color:forestgreen">
                                                        $@transaction.Amount
                                                    </td>
                                                }
                                                else if (transaction.TransactionType.ToString() == "Withdrawal")
                                                {
                                                    <td style="font-weight:bold; color:red">
                                                        $@transaction.Amount
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="font-weight:bold; color:forestgreen">
                                                        $@transaction.Amount
                                                    </td>
                                                }

                                                <td>
                                                    @transaction.Account.AccountName
                                                </td>
                                                <td>
                                                    @transaction.BudgetItem.ItemName
                                                </td>
                                                <td>
                                                    @transaction.Created.ToString("MM/dd/yyyy")
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @section scripts{
        <script>
            jQuery(document).ready(function () {
                jQuery('#cBudget').hide();
            });
            jQuery(document).ready(function () {
                jQuery('#cAccount').hide();
            });
            jQuery(document).ready(function () {
                jQuery('#cMembers').hide();
            });
            jQuery('#bd').hover(function () {
                jQuery('#budget').toggle();
                jQuery('#cBudget').toggle();
            });
            jQuery('#ac').hover(function () {
                jQuery('#account').toggle();
                jQuery('#cAccount').toggle();
            });
            jQuery('#hh').hover(function () {
                jQuery('#cMembers').toggle();
                jQuery('#members').toggle();
            });
            jQuery(document).ready(function () {
                jQuery('#membersTable').DataTable({
                    "pageLength": 5
                });
            });
            jQuery(document).ready(function () {
                jQuery('#myTransactionsTable').DataTable({
                    "pageLength": 10,
                    "order": [[4, "desc"]]
                });
            });
            jQuery(document).ready(function () {
                jQuery('#accountTable').DataTable({
                    "pageLength": 5,
                    responsive: true
                });
            });
            jQuery(document).ready(function () {
                jQuery('#budgetTable').DataTable({
                    "pageLength": 5
                });
            });
            jQuery(document).ready(function () {
                jQuery('#mybudgetTable').DataTable({
                    "pageLength": 5
                });
            });
            jQuery(document).ready(function () {
                jQuery('#myaccountTable').DataTable({
                    "pageLength": 5
                });
            });
            jQuery(document).ready(function () {
                setTimeout(function () { jQuery('#myT').click() }, 300);
            });
        </script>
        <script src="https://cdn.zingchart.com/zingchart.min.js" SameSite="None"></script>
        @if (user.Household.Accounts.Count() > 3)
        {
            var topThree = user.Household.Accounts.OrderByDescending(g => g.CurrentBalance).Take(3);
            var others = user.Household.Accounts.OrderByDescending(g => g.CurrentBalance).Skip(3);
            decimal othersNum = 0;
            foreach (var account in others)
            {
                othersNum = othersNum + account.CurrentBalance;
            }
            var first = topThree.Take(1).FirstOrDefault().CurrentBalance;
            var second = topThree.Skip(1).Take(1).FirstOrDefault().CurrentBalance;
            var third = topThree.Skip(2).FirstOrDefault().CurrentBalance;
            <script>
           zingchart.render({
               id: "topAccounts",
               height: '400px',
               width: '100%',
               overflow:'visible',
            output: "svg",
            data: {
                    type: "pie3d",
                plot: {
                        borderColor: "#2B313B",
                    borderWidth: 3,
                    // slice: 90,
                    valueBox: {
                            fontSize: '14',
                        placement: 'out',
                        fontFamily: "Open Sans",
                        fontColor: 'black'
                    },
                    tooltip: {
                        fontSize: '15',
                        fontFamily: "Open Sans",
                        padding: "5 10",
                        fontColor: 'white'
                    },
                },
                backgroundColor: "transparent",
                series: [
                    {
                        values: [@first],
                        text: "@topThree.Take(1).FirstOrDefault().AccountName",
                        palette: 4
                    },
                    {
                        text: "@topThree.Skip(1).Take(1).FirstOrDefault().AccountName",
                        values: [@second],
                        palette: 2
                    },
                    {
                        values: [@third],
                        text: "@topThree.Skip(2).FirstOrDefault().AccountName",
                        palette: 3
                    },
                ]
            }
        });
            </script>
            <script>
                jQuery("#bankAccount_WarningBalance").keyup(function () {
                    let wB = parseInt(jQuery("#bankAccount_WarningBalance").val())
                    let cB = parseInt(jQuery("#bankAccount_CurrentBalance").val())
                    if (cB < wB) {
                        jQuery("#warning").html("<i class='fa fa-warning' style='color:gold'></i> Your Warning Balance will be higher than your Current Balance");
                    }
                    else {
                        jQuery("#warning").html("");

                    }
                    console.log(wB);
                });
                jQuery("#bankAccount_CurrentBalance").keyup(function () {
                    let cB = parseInt(jQuery("#bankAccount_CurrentBalance").val())
                    if (cB < 0) {
                        jQuery("#overdrawn").html("<i class='fa fa-warning' style='color:red'></i> You will overdraft your Account with these settings");
                    }
                    else {
                        jQuery("#overdrawn").html("");
                    }
                    console.log(wB);
                });
            </script>
        }

    }
}
